<h2>Your Cart</h2>

<div *ngIf="CartService.cart.length === 0" class="empty-cart">
  Your cart is empty
</div>

<div class="cart-items" *ngIf="CartService.cart.length > 0">
  <div class="cart-item" *ngFor="let item of CartService.cart; let i = index">
    <img [src]="item.image" alt="{{ item.title }}" />
    <div class="item-info">
      <h4>{{ item.title }}</h4>
      <p>$ {{ item.price }}</p>
    </div>
    <button class="remove-btn" (click)="CartService.remove(i)">Remove</button>
  </div>

  <div class="total">
    Total: ${{ getTotal() }}
  </div>
</div>
