.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 24px;
  display: grid;
  grid-template-columns: 3fr 1.4fr;
  gap: 24px;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}
